* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d74a49;
}

main {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #bbc5c7;
    height: 95vh;
    width: 95vw;
}

header {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: #183e4b;
    height: 80px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
header a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 20%;
}

header h1 {
    display: flex;
    justify-content: center;
    color: white;
    width: 60%;
}

header p {
    display: flex;
    justify-content: center;
    color: white;
    width: 20%;
}

form {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 20px;
    width: 60%;
}

legend {
    font-size: 1.33em;
    font-weight: bold;
    margin: 10px;
}

#options {
    display: none;
    flex-wrap: wrap;
}

button {
    border-radius: 10px;
    min-height: 40px;
    margin: 10px;
    font-weight: bold;
}

.selections {
    background-color: dodgerblue;
    color: white;
}

#submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#initials {
    display: none;
}

#start {
    background-color: limegreen;
    color: black;
    min-width: 80px;
    max-width: 100px;
}

#submitScore {
    display: none;
    background-color: aquamarine;
    color: black;
}

label {
    margin: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 15px 15px;
    background-color: #78444a;
    height: 80px;
    width: 100%;
}

#footrsec {
    flex-grow: 10;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 20px;
}

strong {
    margin-left: -50px;
    font-weight: bold;
    width: 75%;
}

img {
    position: absolute;
    margin-top: -65px;
    height: 140px;
    right: 5px;
    bottom: 5px;
}